.dashboard-card {
  margin-bottom: 24px;
  box-shadow: 0px 10px 20px rgba(44, 37, 210, 0.05);
  background-color: var(--white);
  border-radius: 8px;
  box-sizing: border-box;
  padding: 12px 16px;
  min-height: 102px;
  width: 100%;
  min-width: 240px;
}

.dashboard-card__container {
  align-items: flex-start;
  flex-direction: column;
  display: flex;
}

.dashboard-card__subtitle {
  line-height: 18px;
  font-size: 13px;
  color: #001026;
}

.dashboard-card__title {
  margin-top: 20px;
  line-height: 28px;
  font-weight: 600;
  font-size: 20px;
  color: #001026;
}

.dashboard-card__children {

}