.dashboard-card {
  background-color: var(--accent);
  border-radius: 8px;
  text-align: center;
  box-sizing: border-box;
  padding: 48px 12px;
  display: grid;
}

.dashboard-card__subtitle {
  font-size: 12px;
  color: rgba(#fff, .8);
}

.dashboard-card__title {
  font-size: 22px;
  color: #fff;
}