.debt-card {
  box-sizing: border-box;
  padding: 6px 0;
  column-gap: 12px;
  align-items: center;
  grid-template-columns: min-content 1fr min-content;
  display: grid;
}

.debt-card__price {
  white-space: nowrap;
}

.debt-card__content {
  row-gap: 2px;
  display: grid;
}

.debt-card__username {
  line-height: 20px;
  font-weight: 600;
  font-size: 15px;
}

.debt-card__datestamp {
  grid-template-columns: min-content min-content;
  grid-auto-flow: column;
  display: grid;
}

.debt-card__date {
  line-height: 18px;
  font-size: 13px;
  color: #616C7A;
}